:root {
  --primary: #560a86;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #38302e;
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #42455a;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

h1 {
  color: aqua;
  font-size: 4em;
  font-weight: bolder;
  text-shadow: 4px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

h5 {
  text-align: center;
}

h2,
h3,
h4,
h6 {
  font-weight: 700;
  margin: 0;
  line-height: 1.25;
}

main {
  display: flex;
  justify-content: space-around;
}

p {
  font-size: 1.2rem;
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 1px 1px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: 20px;
  color: #fff;
  border: 1px solid transparent;
  outline: none;
  background-image: linear-gradient(#42455a, #42455a),
    radial-gradient(circle at top left, #fd00da, #19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: rgb(165, 165, 165);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.btn-inline {
  display: inline;
}

.hero-image {
  background-image: url(../Images/nyc-wallpaper.png);
  background-color: rgb(29, 15, 155);
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  color: rgb(19, 216, 216);
  position: absolute;
}

.hero-text p {
  font-size: 35px;
  color: azure;
  position: absolute;
}

.card {
  background-color: #19dafa;
  display: flex;
  align-items: center;
  border-radius: 25px;
  width: 60%;
}

.card-action {
  display: inline;
  width: 35%;
  margin-left: 10px;
  margin-top: 10%;
}

.card-input {
  display: flex;
  height: 150px;
  color: #fff;
  margin: 0 0 10px 0;
  width: 80%;
}

.card-image {
  display: flex;
  align-items: center;
  width: 300vw;
  height: 500px;
  border-radius: 15px;
}

.card-input {
  color: #fff;
}

.card-header {
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
  background-color: #42455a;
  padding: 2.5%;
  border-radius: 20px;
}

.card-body {
  padding: 2.5%;
}

.card-content {
  display: inline;
  color: aliceblue;
}

.facts {
  display: inline;
  align-items: baseline;
  font-size: 20px;
  border: 5px solid black;
}

.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
  color: #fff;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
  color: #fff;
}

.page-footer {
  background: linear-gradient(to right, #db1bf6, #19d7f8);
}

li button {
  float: right;
  border: none;
  height: 4.4vh;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  border-radius: 10px;
  background-color: #1d1f2b;
}

ul {
  display: inline-flex;
}

li {
  list-style: none;
  height: 5.5vh;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  color: #fff;
  font-size: 0.9em;
  line-height: 2;
  border-radius: 5px;
  cursor: pointer;
}



#wikidata-page {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: #42455a;
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);

}
